<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrolled Student Information</title>
</head>
<body>
    <h1>Enrolled Student Information</h1>
    {% for student_info in enrolled_students_info %}
    <h3>{{ student_info.student.name }}</h3>
    <p>Course: {{ student_info.course.title }}</p>
    <p>Section: {{ student_info.section.name }}</p>
    <p>Subject: {{ student_info.subject.name }}</p>
    <hr>
{% endfor %}


    <a href="{{ url_for('enroll') }}">Back to Enrollment</a>
</body>
</html>
