<!-- view_schedule.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<body>
    <h1>Schedule</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Day of Week</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in schedules %}
                <tr>
                    <td>{{ schedule.id }}</td>
                    <td>{{ schedule.day_of_week }}</td>
                    <td>{{ schedule.start_time }}</td>
                    <td>{{ schedule.end_time }}</td>
                    <td>{{ schedule.subject.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
