<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

{% block content %}
<div class="container">
    <h1>Class</h1>
    {% if enrollments %}
    <table>
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Course Title</th>
            <th>Section Name</th>
            <th>Year</th>
            <th>Approved</th>
          </tr>
        </thead>
        <tbody>
          {% for enrollment in enrollments %}
          <tr>
            <td>{{ enrollment.enrolled_student_rel.name }}</td>
            <td>{{ enrollment.enrolled_course_rel.title }}</td>
            <td>{{ enrollment.enrolled_section_rel.name }}</td>
            <td>{{ enrollment.year }}</td>
            <td>{{ 'Yes' if enrollment.is_approved else 'No' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <p>No enrollments found.</p>
    {% endif %}
</div>
{% endblock %}
</body>
</html>