<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APCBA Portal V1.0 - Student Portal Management System</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='images/style.css') }}">

</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<body>
    <div class="container">
        <button class="toggle-btn" onclick="toggleSidebar()">
            <span class="material-icons">menu</span>
        </button>
        <div class="sidebar">
            <div class="logo">
                <h2>APCBA PORTAL V1.0</h2>
            </div>
            <div class="links">
                <a href="{{ url_for('dashboard') }}" class="link"><i class="material-icons">dashboard</i> Dashboard</a>
                <a href="{{ url_for('certificate') }}" class="link"><i class="material-icons">receipt</i> Certificates</a>
                <a href="{{ url_for('view_modules') }}" class="link"><i class="material-icons">book</i> Modules</a>
                <a href="{{ url_for('view_course') }}" class="link"><i class="material-icons">school</i> Courses</a>
                <a href="{{ url_for('manage_section') }}" class="link"><i class="material-icons">view_module</i> Sections</a>
                <a href="{{ url_for('users') }}" class="link"><i class="material-icons">group</i> Accounts</a>
                <a href="{{ url_for('view_teachers') }}" class="link"><i class="material-icons">face</i> Teachers</a>
                <a href="{{ url_for('view_students') }}" class="link"><i class="material-icons">people</i> Students</a>
                <a href="{{ url_for('enroll') }}" class="link"><i class="material-icons">assignment_turned_in</i> Enrolled</a>
                <a href="{{ url_for('view_enrollies') }}" class="link"><i class="material-icons">school</i> Enrollies</a>
            </div><br><br>
            <div class="user-info">
                <a href="#">
                
                </a>
                
            </div>
        </div>
    <main class="bot">
        <div class="content">
            <div class="topnav">
                <h4 class="Name">Module</h4>
            </div>
        {% block content %}
    
            <form method="POST" enctype="multipart/form-data" class="module-form">
                <h2>Module Management</h2>
                {{ form_module.hidden_tag() }}
    
                <div class="form-group">
                    <label for="title">Title</label>
                    {{ form_module.title(class="form-control", placeholder="Enter Module Title") }}
                </div>
    
                <div class="form-group">
                    <label for="year">Year</label>
                    {{ form_module.year(class="form-control", placeholder="Enter Module Year") }}
                </div>
    
                <div class="form-group">
                    <label for="course_id">Course</label>
                    {{ form_module.course_id(class="form-control") }}
                </div>
    
                <div class="form-group">
                    <label for="pdf_file">PDF File</label>
                    {{ form_module.pdf_file(class="form-control-file") }}
                </div>
    
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create Module</button>
                </div>
            </form>
    
            <h3>Existing Modules</h3>
            <ul>
                {% for module in modules %}
                    <li>
                        {{ module.title }} - {{ module.year }} - {{ module.course.title }}
                        <a href="{{ url_for('download_module', pdf_filename=module.pdf_filename) }}" download>Download PDF</a>

                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
    </main>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
